body {
	background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(left,#009688, #00796b ); 
}

#principal {
	display: none;
}

tr {
	height: 100px;
}

td {
	width: 100px;
}

.negrita {
	font-weight: bold;
}
